@charset "UTF-8";

/* 
   • Umholtz, Tommy
   • Full Sail University
   • Web Design and Development, Bachelors of Science – Online
   • Web Design Portfolio 4 (WDPIV)
   
   */


/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
}

time {
    font-size: 1em;
} */

h2 {
    display: none;
}


/* .row section img {
    height: 40rem;
} */

.home {
    margin: 0 2em 2em 2em;
    padding-top: 2em;
}

.momDiv {
    margin: 1em;
}

.mom {
    /* width: 24vw; */
    height: 63vw;
    /* margin: 1rem; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoAndStory {
    width: 10vw;
    margin: 2em 1em 1em;
}

.textLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38vw;
}

.product {
    width: 20rem;
}

.storyTitle {
    font-size: 3.6vw;
    width: auto;
    height: auto;
}

.storyText {
    font-size: 2.4vw;
}

.map {
    width: 20em;
}

nav {
    background-color: rgba(165, 80, 41, .8);
    /* position: fixed; */
    top: 0;
}

footer {
    background-color: rgba(165, 80, 41, .8);
}

body {
    background-image: url("/assets/brick.jpg");
    background-size: 220px 220px;
    background-repeat: repeat;
}

.backgroundImage {
    background-color: rgba(255, 255, 255, 0.5);
}


/*   */