        /* 
   • Umholtz, Tommy
   • Full Sail University
   • Web Design and Development, Bachelors of Science – Online
   • Web Design Portfolio 4 (WDPIV)
   
   */
        /* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
}

time {
    font-size: 1em;
} */
        /* @font-face {
            font-family: "MWindyHK";
            src: url("/fonts/MWindyHK-Bold.otf");
        } */
        
        @font-face {
            font-family: "ShinShuMedium";
            src: url("/fonts/ShinShuMedium.ttf");
        }
        
        @font-face {
            font-family: "FuturaMedium";
            src: url("/fonts/Futura-Medium-01.ttf");
        }
        
        @media all and (max-width: 575px) {
            #home {
                font-size: 6vw;
                padding: 2.5em 0 .1em 0;
                /* margin-bottom: 1em; */
                width: auto;
                height: auto;
            }
            .momDiv {
                display: none;
            }
            .logoAndStory {
                margin: 0em 2em 1em 0em;
                font-family: "ShinShuMedium";
                font-weight: bolder;
            }
            .textLogo {
                display: block;
                margin: 0 auto 0 auto;
                /* padding: 2em 0 2em 0; */
                width: 70vw;
            }
            .storyText {
                font-size: 5vw;
                width: auto;
                height: auto;
            }
            .map {
                width: 26vw;
                margin-bottom: 4em;
            }
        }
        
        @media all and (min-width: 576px) {
            /* .storyTitle {
                padding-top: 4em;
            } */
            #home {
                padding-top: 3em;
                /* margin-bottom: 2em; */
            }
            .logoAndStory {
                margin: 0em 2em 1em 0em;
                font-family: "ShinShuMedium";
                font-weight: bolder;
            }
            .textLogo {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 2em;
                margin: 2em auto 2.2em auto;
                width: 38vw;
            }
            .storyTitle {
                font-size: 3.6vw;
                line-height: 1.3em;
                width: auto;
                height: auto;
            }
            .storyText {
                font-size: 2.6vw;
                line-height: 1.3em;
                width: auto;
                height: auto;
            }
            .map {
                width: 26vw;
                margin-bottom: 4em;
            }
            #business {
                padding-bottom: 3em;
            }
        }
        
        h2 {
            display: none;
        }
        
        body {
            background-image: url("/assets/brick.jpg");
            background-size: 220px 220px;
            background-repeat: repeat;
        }
        
        #menuContainer {
            font-family: "Helvetica";
            font-size: 1.2em;
            color: black;
            margin: 0 0 0 .6em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        
        #menuContainer a:link {
            color: black;
        }
        
        #menuContainer a:visited {
            color: black;
        }
        
        .home {
            /* margin-bottom: 5em; */
            padding-top: 2em;
        }
        
        .backgroundImage {
            background-color: rgba(255, 255, 255, 0.5);
        }
        
        .homeBackground {
            background-color: rgba(179, 27, 0, 0.199);
            /* padding-bottom: 1em; */
        }
        
        .momDiv {
            margin: 1em;
        }
        
        .mom {
            height: 63vw;
            display: block;
            margin-left: auto;
            margin-right: auto;
            /* padding: 0 4em 0 0; */
        }
        
        .product {
            width: 25vw;
        }
        
        #menu {
            /* width: 25vw; */
            padding-top: 3em;
            font-family: "FuturaMedium";
            /* padding-bottom: 1em; */
        }
        
        #business {
            font-family: "FuturaMedium";
            padding-top: 3.5em;
            margin-bottom: 3em;
        }
        
        .map {
            width: 26vw;
            margin-bottom: 3.5em;
        }
        
        nav {
            background-color: rgba(165, 80, 41, .8);
            /* position: fixed; */
            top: 0;
            height: 2.5em;
        }
        
        footer {
            background-color: rgba(165, 80, 41, .8);
            height: 2.5em;
        }