node_modules
bootstrap-4.4.1-dist
css/main copy.css
refrence_past/19_WDS_2/scss/main.css
refrence_past/19_WDS_2/scss/main.css.map
scss/main.css
assets/icon/call-1.svg
assets/icon/call-2.svg
assets/icon/call.svg
assets/icon/cancel.svg
assets/icon/close.svg
assets/icon/email.svg
assets/icon/email(1).svg
assets/icon/facebook.svg
assets/icon/line.svg
assets/icon/mail-1.svg
assets/icon/mail.svg
assets/icon/pin-1.svg
assets/icon/pin.svg
