// fonts
$fontStack: Tahoma,
Geneva,
Verdana,
sans-serif;
@font-face {
    font-family: "Andrographis";
    src: url("/fonts/Andrographis.ttf");
}

@font-face {
    font-family: "Pacifico";
    src: url("/fonts/Pacifico.ttf");
}

// 123