//variables
// colors
$borderColor: rgba(10, 121, 212, 0.5);
$boxShadowColor: rgba(0, 0, 0, 0.36);
$dropShadow: 0.05em 0.05em 0.07em grey;
$headerFontColor: rgb(10, 121, 212);
$taskHeadingFontColor:rgb(70, 64, 16);
$buttonTimeColor:rgb(228, 44, 44);
$taskParagraphFontColor:rgb(73, 67, 19);
$taskSectionBackground: rgba(255, 255, 255, 0.85);
$backgroundPatternColor2: rgb(218, 210, 138);
$backgroundPatternColor1: rgb(235, 221, 99);